*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    /* background-color: yellow; */
    width: 100vw - 50px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* margin: 5px auto; */
    display: grid;
    grid-template-rows: minmax(50px, auto) minmax(100px, auto) repeat(1, minmax(100px, auto))  80px ;
    grid-template-columns: 4fr 4fr 2fr 2fr 4fr;
    /* grid-gap: 10px; */
}
.header{
    /* background: violet; */
    color: white;
    text-align: center;
    grid-column: 1 / -1;
}
.buttonDiv{
    position: absolute;
    left: 20vw;
    right: 20vw;
    top: 55vh;
    bottom: 20vw;
}
.imageDiv{
    background: black;
    text-align: center;
    color: white;
    width: 100vw - 50px;
    height: 100vh;
    grid-column: 1 / -1;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-image: url(); */
}

.leftText{
    /* background: blue; */
    text-align: center;
    color: white;
    grid-column: 1 / 3 ;
}
.rightText{
    /* background: green; */
    text-align: center;
    color: white;
    grid-column: 3 / -1;
}
.footer{
    /* background: rgba(128, 128, 128, 0.384); */
    /* background-color: yellow; */
    text-align: center;
    color: white;
    grid-column: 1 / -1;
}

.imageText{
    position: absolute;
    left: 15vw;
    right: 15vw;
    top: 30vh;
    bottom: 20vw;
    justify-content: center;
    font-size: 5vw;
}

/* p{
    border-style: solid;
    padding: 1vw;
    margin: 2px;

} */

@media (max-width: 768px) {
    .wrapper{
        grid-template-rows: minmax(50px, auto) minmax(100px, auto) repeat(2, minmax(100px, auto));
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .imageDiv{
        width: 100vw - 50px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .imageText{
        left: 15vw;
        right: 15vw;
        top: 42vh;
        bottom: 20vh;
        font-size: 10vw;
    }
    .buttonDiv{
        left: 20vw;
        right: 20vw;
        top: 72vh;
        bottom: 20vh;
        font-size: 10vw;
    }
    .leftText{
        grid-column: 1 / -1 ; 
    }
    .rightText{
        grid-column: 1 / -1 ; 
    }
    .footer{
        grid-row: 5 / -1;
    }

    /* .imageDiv {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } */
}



